<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ly.lib.mvvm">

    <application>
        <activity
            android:name=".presentation.main.MainActivity"
            android:label="MVVM"
            android:screenOrientation="portrait"
            android:theme="@style/MVVMTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.detail.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MVVMTheme"/>

    </application>
</manifest>